<nav id="theme-breadcrumbs">
  <ul>
    <li><a href="{{ site.url }}">{{ site.title }}</a></li>
    {% for item in page.breadcrumbs %}
      <li><a href="{{ item.path }}">{{ item.name }}</a></li>
    {% endfor %}
    <li>{{ page.title }}</li>
  </ul>
</nav>
