<footer id="site-footer">
  <!-- GitHub repository information -->{% if site.github %}
    <section>
      <h3>This site on GitHub</h3>
      <p>This site was last published {{ site.time | date_to_long_string }} from the <a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a> repository on GitHub.</p>

      <ul>
        <li><a href="{{ site.github.repository_url }}">Content and code</a></li>
        <li><a href="{{ site.github.repository_url }}/issues/">Issues</a></li>
        <li><a href="{{ site.github.repository_url }}/pulls/">Pull requests</a></li>
      </ul>

      <form id="search-repository" action="{{ site.github.repository_url }}/search" method="GET">
        <input name="q" type="text" placeholder="Search source on GitHub">
        <button type="Submit">Search</button>
      </form>

    </section>
  {% endif %}

  <!-- License information -->
  {% if site.license or site.github.license %}
    <section>
      <h3>Copyright and license</h3>
      <p>
        © {{ site.time | date: '%Y' }} 
        {% for static_file in site.static_files %}
          {% if static_file.path == '/AUTHORS.md' %}
              {% assign authors_file = true %}
          {% endif %}
        {% endfor %}
        {% if authors_file != true %}<a href="https://publiccode.net/">
          {{ site.copyright | default: 'Foundation for Public Code' }}
        </a>{% endif %}
        {% if authors_file %}<a href="{{ site.baseurl }}/AUTHORS.html">
          {{ site.copyright | default: ' The Authors' }}
        </a>{% endif %}
      </p>
      <p>
        {% for static_file in site.static_files %}
          {% if static_file.path == '/LICENSE.md' %}
              {% assign license_file = true %}
          {% endif %}
        {% endfor %}
        {% if license_file %}<a href="{{ site.baseurl }}/LICENSE.html">{% endif %}
        {{ site.license.name | default: site.github.license.name }}
        {% if license_file %}</a>{% endif %}
      </p>
    </section>
  {% endif %}
</footer>
