<main>
  {% if page.breadcrumbs %}
    {% include breadcrumbs.liquid %}
  {% endif %}

  {% if site.show_navigation == true %}
      
    <nav id="site-nav">
      <input type="checkbox" id="show-site-nav"></input><label for="show-site-nav">Menu</label>
      {% include navigation.liquid context="/" %}
    </nav>

  {% endif %}
  <section class="content">
    
    <article class="markdown-body">
      {{ content }}
    </article>
  </section>

  <section class="sidebar">
    {% if page.toc != false and site.toc == true or page.toc == true %}
      {% include toc.liquid html=content h_min=2 sanitize=true class="table-of-contents" %}
    {% endif %}
    {% if site.github.repository_url %}
      <ul class="edit-links">
        <!-- The default branch is {% for repo in site.github.public_repositories %}{% if repo.name == site.github.repository_name %}{% assign default_branch = repo.default_branch %}{% endif %}{% endfor %}{{ default_branch }}, while site.github.source.branch is {{ site.github.source.branch }} -->
        <li><a href="{{ site.github.repository_url }}/edit/{{ default_branch }}/{{ page.path }}">{% include github-pr.svg %} Improve this page</a></li>
        <li><a href="{{ site.github.repository_url }}/issues/new?body=I'd like to report an issue in `{{ page.path }}`">{% include github-issue.svg %} File an Issue</a></li>
      </ul>
    {% endif %}
  </section>

</main>
