{% if page.type or page.goal or page.audience or page.author %}
  <div class="metadata">
    {% if page.type %}<h3>{{page.type}}</h3>{% endif %}
    {% if page.goal %}<p class="goal">{{page.goal}}</p>{% endif %}
    {% if page.audience %}<p class="audience">{{page.audience}}</p>{% endif %}
    {% if page.author %}<p class="author">{{page.author}}</p>{% endif %}
    {% if page.expires %}<p class="expires" id="metadata-expires">{{page.expires}}</p>{% endif %}
  </div>
{% endif %}

<script>
function renderExpiresIn(el) {
  var date = new Date(el.innerHTML)
  var today = new Date()
  var isExpired = (today - date >= 0)

  if(isExpired) {
    el.setAttribute('data-expired', true)
  }

  var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
  el.innerHTML = date.toLocaleDateString("en-UK", options)
}

renderExpiresIn(document.getElementById('metadata-expires'))
</script>
