{% capture currentDate %}{{ site.time | date: '%F' }}{% endcapture %}
{% capture date %}{{ page.expires | date: '%F' }}{% endcapture %}

{% if page.type or page.explains or page.audience or page.author %}
  <table class="metadata">
    {% if page.type %}<tr><th>{{page.type}}</th></tr>{% endif %}
    {% if page.explains %}<tr><td>Explains:</td><td class="explains">{{page.explains}}</td></tr>{% endif %}
    {% if page.audience %}<tr><td>For:</td><td class="audience">{{page.audience}}</td></tr>{% endif %}
    {% if page.author %}<tr><td>By:</td><td class="author">{{page.author}}</td></tr>{% endif %}
    {% if page.expires %}<tr class="{% if date < currentDate %}expired{% else %}not-expired{% endif %}"><td>Expires:</td><td class="expires">{{ page.expires | date: "%-d %B %Y" }} ({{page.expires}})</ttd></td>{% endif %}
  </table>
{% endif %}
