<!DOCTYPE html>
<html>

  {% include head.liquid %}

  <body>

    {% include foundation-nav.liquid %}

    <hr>
        
    {% include header.liquid %}

    <hr>

    <main class="{% if site.toc or page.toc %}with-toc{% endif %}">
      <section class="content">
        <article class="markdown-body">
          {{ content }}
        </article>
        {% if site.github.repository_url %}
        <div class="edit-links">
          <!-- The default branch is {% for repo in site.github.public_repositories %}{% if repo.name == site.github.repository_name %}{% assign default_branch = repo.default_branch %}{% endif %}{% endfor %}{{ default_branch }}, while site.github.source.branch is {{ site.github.source.branch }} -->
          <a href="{{ site.github.repository_url }}/edit/{{ default_branch }}/{{ page.path }}">{% include github-pr.svg %} Improve this page.</a>
          <a href="{{ site.github.repository_url }}/issues/new?body=I'd like to report an issue in `{{ page.path }}`">{% include github-issue.svg %} File an Issue</a>
        </div>
        {% endif %}
      </section>

      {% if site.toc or page.toc %}
      <aside>
        <h4>On this page</h4>
        {% include toc.liquid html=content h_min=2 %}
      </aside>
      {% endif %}

    </main>

    <hr>

    {% include footer.liquid %}

  </body>

</html>
